<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{info['name']}} {{info['version']}}: {{info['description']}}">
    
    <link rel="icon" href="/static/img/favicon.png">

    <title>{{info["name"]}}</title>

    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/globals.js"></script>
    
</head>
<body>

<div class="container">

    <div class="page-header">
        <div class="site-title">{{info["name"]}}</div>
        {% block header %}{% endblock %}
    </div>

    <div class="page-header">
        {% block content %}{% endblock %}
    </div>

</div>

<div class="footer">
    <div class="container">
        <p class="muted credit">{{info["name"]}} {{info["version"]}} - Copyright &copy; 2017 {{info["authors"]}}</p>
    </div>
</div>


</div>

<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link href="/static/css/jquery-ui.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">

</body>
</html>