body {
    color: #000000;
    background: whitesmoke;
    font-family: 'Comfortaa', cursive;
    font-size: 25pt;
}
.centered {
    text-align: center;
    width: 70%;
    height: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo {}
.typed {}
.footer {
    font-size: 6pt;
    color: #666;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

/* animated cursor typed.js */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}