DroneServer API

Requirements:
RESTful -> GET, PUT, POST, DELETE, maybe some other commands if we need

Is this overkill? Probably not: also 


Things to keep track of (easy to add more later):
UID
GPS
Battery
Destination zone (where is the drone flying to (assume bee-lining))
Altitude

Workflow:
    More Frequently (maybe every ):
        > From Drone, GET a JSON struct containing DroneServer status report (intended next waypoint, intended GPS, etc., etc.)
    Less Frequently (maybe every waypoint):
        > From Drone, POST a JSON struct containing current relevant information to DroneServer



Store in MySQL database:

Table "drones":
    UID, name, latitude, longitude, altitude, voltage, destination(zone UID)

Table "zones":
    UID, description, latitude, longitude
